//colors
$primary: #1766ff;
$secondary: #9ddb8a;

$dark: #001c54;
$light: #98baff;
$error: #ff5151;
$success: #20c000;

$bg: white;
$bg-light: #f2f6ff;

$height: 3rem;

//breakpoints
$medium: 960px;

//typography
$hero-1: 2rem;
$hero-2: 1.75rem;
$hero-3: 1.5rem;

$lead: 1.25rem;
$lead-small: 0.85rem;

$body: 1rem;

//radius
$radius: 0.5rem;

//shadow
$shadow: rgba($dark, 0.16);

//border
$border: #001c547a;

//breakpoints
$bp-phone: 640px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

$placeholder: rgba($dark, 0.32);
