@import "~/assets/css/_variables.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody, 
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Neue Haas Grotesk Display Pro";
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  background-color: $bg-light;
  color: $dark;
  font-size: $body;
}

@media only screen and (min-width: $bp-desktop) {
  body {
    font-size: $body + 0.25rem;
  }
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.617;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media (min-width: $bp-phone) {
  h1 {
    font-size: $hero-1 * 1.75;
  }
}
@media (max-width: $bp-phone) {
  h1 {
    font-size: $hero-1;
  }
}
h1 {
  font-weight: bolder;
}


h2 {
  font-size: $hero-2;
  font-weight: bolder;
}

h3 {
  font-size: $hero-3;
  font-weight: bolder;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul {
  padding-left: 1rem;
}

hr {
  border-top: 1px solid $dark;
  border-radius: 5px;
}

img {
  width: 100%;
  max-width: 720px;
}

.md > h1,
h2,
h3 {
  margin: 0 0 1rem 0 !important;
}

ul {
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: $dark;
}

a:hover {
  text-decoration: underline;
}


.md > ul {
  margin-bottom: 2rem;
}

.md > hr {
  border-top: 1px solid $light;
  margin-bottom: 3rem;
}

.lead {
  font-size: $lead;
  font-weight: 300;
}

.lead-small {
  font-size: $lead-small;
  font-weight: 300;
}


.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold !important;
}

.bordered {
  border: solid 1px $light;
}

.rounded {
  border-radius: $radius;
}

.bg-light {
  background-color: $light;
}

.bg {
  background-color: $bg;
}

.border-primary {
  border: solid 1px $primary;
}

.border-dark {
  border: solid 1px $dark;
}

li > p {
  padding: 0;
  margin: 0;
}

.box-shadow {
  -webkit-box-shadow: -8px 0px 32px 0px $shadow;
  -moz-box-shadow: -8px 0px 32px 0px $shadow;
  box-shadow: -8px 0px 32px 0px $shadow;
}
